// SERVER STATUS DEV or LIVE only for body:before breakpoint label 
$server: DEV;

$font_family: "Neue Montreal";

//------------------------------------------------------------------------------------------------------
// settings
//------------------------------------------------------------------------------------------------------

$viewport_min_width: 320px;


//------------------------------------------------------------------------------------------------------
// BASE COLOURS 
//------------------------------------------------------------------------------------------------------

$white: #ffffff;
$black: #000000;

//------------------------------------------------------------------------------------------------------
// TEXT COLOURS 
//------------------------------------------------------------------------------------------------------

$txt_default: #111827;
$txt_grey: #6B7280;
$txt_neutral: #374151;

//------------------------------------------------------------------------------------------------------
// BORDERS
//------------------------------------------------------------------------------------------------------

$border_grey: #D1D5DB;

//------------------------------------------------------------------------------------------------------
// BACKGROUNDS
//------------------------------------------------------------------------------------------------------

$bg: #C6C6C6;
$bg_grey: #E5E7EB;
$bg_green: #28776D;
$bg_red: #D44C57;

//------------------------------------------------------------------------------------------------------
// BASE FORM 
//------------------------------------------------------------------------------------------------------

$form_text_size:				1.8rem;
$form_text_color: 				#53525f;
$form_label_color: 				#9b9bab;
$form_label_text_size:			1.4rem;
$form_label_text_size_focused:	1.2rem; 

$form_border_size: 				2px;
$form_border_color:		 		#dadcdf;
$form_border_color_hover:		#cccfd3;
$form_border_color_focus: 		#86c128;

// Small Input

$form_text_size_small: 			1.3rem;
$form_label_text_size_small:	1rem;
$form_border_size_small:		1px;
$form_border_color_small: 		#dadcdf;


// CSS Reset
*,
*::before,
*::after { margin: 0; padding: 0; box-sizing: inherit; }


html { font-size: 62.5%; box-sizing: border-box; scroll-behavior: smooth; } 
// 10px = 1 rem 
// 10px / 16px * 100 = 62.5% 
// 16px is the size you are after as base size

html, body, #root { height: 100%; }

body { font-family: $font_family, sans-serif; font-size: 1.3rem; box-sizing: border-box; font-weight: 400; background-color: $white; color: $txt_default; min-width: $viewport_min_width;

	&:before { padding: 0.5rem 1rem; position: fixed; left: 0px; top: 0; z-index: 10000; background: #000; opacity: .1; text-align: center; color: $white; font-size: 1.4rem; }
    &:before { @include breakpoint(xl) { content: "xl" } }
    &:before { @include breakpoint(l) { content: "l" } }
    &:before { @include breakpoint(m) { content: "m" } }
    &:before { @include breakpoint(r) { content: "r" } }
    &:before { @include breakpoint(s) { content: "s" } }
    &:before { @include breakpoint(xs) { content: "xs" } }
    &:before { @include breakpoint(xxs) { content: "xxs" } }

    &:before { display: none; }
	
}

strong { font-weight: 600; }


p { margin-bottom: 2.4rem; }

ol, ul  { margin-bottom: 4rem; margin-left: 3rem;

	li { margin-bottom: 1rem; }

}
