$site_color: $txt_default;

// ------------------------------------------------------------------------------------------------------
// HEADINGS
// ------------------------------------------------------------------------------------------------------

h3 { font-weight: 400; font-size: 1.8rem; margin-bottom: 2rem; color: $site_color;

    small { font-size: 1.4rem; color: $site_color; }
}

// ------------------------------------------------------------------------------------------------------
// CONTENT
// ------------------------------------------------------------------------------------------------------

h1 { font-size: 9rem; font-weight: 400; color: $site_color; letter-spacing: -0.02em;

    @include breakpoint(s) { display: none; }

    small { font-size: 2rem; vertical-align: middle; color: $txt_grey; }

}


// ------------------------------------------------------------------------------------------------------
// PANEL LAYOUT
// ------------------------------------------------------------------------------------------------------

.panel { background-color: $white; margin-top: 3rem; margin-bottom: 3rem; padding: 0 3rem;


    &__filter { display: flex; justify-content: space-between; column-gap: 2rem; align-items: flex-end;

        @include breakpoint(xs) { row-gap: 1rem; margin-top: 2rem; flex-direction: column; }

        .select .select__input,
        .textfield .textfield__input { width: 18rem; background-color: $bg_grey;

            @include breakpoint(xs) { width: 100%; }
        }

        .filter__search {

            .select .select__input,
            .textfield .textfield__input { width: 36rem; background-color: $bg_grey;

                @include breakpoint(xs) { width: 100%;  }
            }

        }

    }

}


// ------------------------------------------------------------------------------------------------------
// TABLE
// ------------------------------------------------------------------------------------------------------

.tbl { border-collapse: collapse; width: 100%;
    
    tr { }

    td, th { text-align: left; }

    th { font-weight: 600; font-size: 1.4rem; }


}

.panel__body--no-padding { 

    .tbl { 

        tr { 

            td, th { padding: 1rem;

                &:first-child { padding-left: 4rem; }
                &:last-child { padding-right: 4rem; }
            }

            th { background-color: $bg_grey; padding: 1rem;
                
                &.action { text-align: right; }

            }

            td { border-bottom: 1px solid $bg_grey;
                
                &.action { text-align: right; }

            }

            &.filter { 


            }

        }
        
    }

}

// ------------------------------------------------------------------------------------------------------
// FORMS
// ------------------------------------------------------------------------------------------------------

.form__row { display: grid; grid-template-columns: 10rem auto; margin-bottom: 1.5rem; column-gap: 4rem;

    &--wide__label { grid-template-columns: 15rem auto; }
    &--wide__12 { grid-template-columns: 12rem auto; }

    .form__label {align-self: center; }

    &--no__margin { margin-bottom: 0.5rem; }


}

.textfield__prefix--search { right: 1rem; pointer-events: none;

    &:before { content: url('../images/searchIcon.svg'); font-style: normal; }

}

// ------------------------------------------------------------------------------------------------------
// OVERRIDE COMPONENT STYLES
// ------------------------------------------------------------------------------------------------------


.menu__dots__list__item { font-size: 1.3rem; padding: 0.8rem 2rem; }

.menu__dots__trigger { 

    @include breakpoint(s) { margin-top: 1rem; }

}




// input[type="text"] { font-family: $font_family; font-size: 1.5rem; outline: none; border-radius: 0; }

// .editable__text,
// .form__input,
// .form__select,
// .form__textarea { font-family: $font_family; font-size: 1.4rem; outline: none; border-radius: 0;  }

// .editable__text { border: 1px solid transparent; height: 3.4rem; width: 100%; padding: 0 1rem; margin-left: -1rem;

//     &:hover { border: 1px solid transparent; cursor: pointer; background-color: $bg; }

//     &:focus { border: 1px solid $form_border_color_focus; background-color: $bg; cursor: text; box-shadow: 2px 2px 4px rgba(134,193,40, 0.3); }

//     &:focus { }
    
// }

// .form__row { display: grid; grid-template-columns: 15rem auto; margin-bottom: 1.5rem; 

//     .form__label {align-self: center; }

// }

// .form__input,
// .form__select,
// .form__input { border: 1px solid $black; padding: 0 1rem; height: 3.2rem; vertical-align: top; }

// .form__textarea { border: 1px solid $black; padding: 0 1rem; }

// ------------------------------------------------------------------------------------------------------
// BUTTONS
// ------------------------------------------------------------------------------------------------------

// .btn { margin: 0 0.2rem; vertical-align: top; display: inline-block; outline: 0; border: 0; border-radius: 0; padding: 1.3rem 3rem; color: $white; cursor: pointer; text-align: center; text-decoration: none; background-color: $site_color; font-family: $font_family; font-size: 1.5rem;  font-weight: 600; box-shadow: border-box;

// 	&:active { outline: 0; }

//     &:focus { border-radius: 0; }

//     // Small
//     &--s { padding: 0rem 1rem; font-size: 1.3rem; height: 3.4rem; line-height: 3.4rem; font-weight: 600; min-width: 7rem; }

//     // Grey
//     &--grey { background-color: $bg; color: $site_color; 
        
//         &:hover { background-color: $site_color; color: $white; }
        
//     }

//     &--outline { background-color: transparent; 
        
//         &.btn--grey { border-color: $border_light_grey; border: 2px solid $border_light_grey; line-height: 3rem; }

//         &:hover { background-color: $site_color; border-color: $site_color; }

//     }
    

// }










