$site_color: $black;

// ------------------------------------------------------------------------------------------------------
// HEADINGS
// ------------------------------------------------------------------------------------------------------

h3 { font-weight: 400; font-size: 1.8rem; margin-bottom: 2rem; color: $site_color; 

    small { font-size: 1.4rem; color: $txt_grey; }
}

// ------------------------------------------------------------------------------------------------------
// Header
// ------------------------------------------------------------------------------------------------------

.header { background-color: $white; height: 8rem; display: flex; align-items: center; box-shadow: -5px 5px 9px rgba(0,0,0,0.05); position: relative; z-index: 100;

    &__site { font-weight: 700; font-size: 2.3rem; padding: 0 3rem; color: $site_color;  }

    &__logo { width: 18rem; margin-top: 1rem; }

    &__account { position: absolute; right: 3rem; top: 2rem;
        
        &__nav { height: 4.4rem; width: 4.4rem; border: 2px solid $border_grey; display: block; position: relative; border-radius: 50%; text-align: center; line-height: 4rem; font-weight: 600;  color: $site_color; }

    }

    .menu__dots__dropdown { min-width: 25rem; 

        .select { padding: 2.5rem; }

        a { color: $txt_default; }
        
    }
    

}

.popup__search { 

    &__content { width: 140rem; background: $white; padding: 2rem; position: absolute; z-index: 1; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); }

}

.tbl__data__list { width: 100%; border-collapse: collapse;

    th, td { text-align: left; padding: 1rem; }

    th { background-color: $bg_light_grey; }

    tr { border-bottom: 1px solid $border_light_grey;

        td { }
    }

    .link { font-weight: 600; }
}


// ------------------------------------------------------------------------------------------------------
// Main Layout
// ------------------------------------------------------------------------------------------------------

.layout { display: grid; grid-template-columns: 25rem auto; height: calc(100vh - 8rem); 

    @include breakpoint(s) { display: block; }

    &__col1 { background-color: $white; 
        
        @include breakpoint(s) { height: 0; overflow: hidden; }

    }
    
    .nav__main { margin: 0; padding: 0;

        > li {  margin: 0; list-style-type: none; align-items: center; min-height: 7rem; border-bottom: 1px solid $border_light_grey; background-color: $white;
            
            > a  {  padding: 0rem 3rem; font-weight: 600; display: grid; height: 7rem; align-items: center; grid-template-columns: 4rem auto; color: $site_color;
                
                &:hover { background-color: $border_light_grey; text-decoration: none; }

            }


        }

        .icon__reps         { width: 2.4rem; }
        .icon__calendar     { width: 2.3rem; }
        .icon__users        { width: 2.4rem; }
        .icon__settings     { width: 2.4rem; }
        .icon__fitters      { width: 2.8rem; }

        [class*="icon__"]   { fill: $site_color; }

        >li.active { background-color: $site_color; 
                
            > a { color: $white;
                
                &:hover { background-color: transparent; }

            }

            .nav__main__sub,
            .nav__main__sub.nav__main__sub--calendar {
                
                position: static; left: -999rem;
             
                a { color: $white; }

                .fc a { color: $black; }
            
            }

            [class*="icon__"]   { fill: $white; }

   

   

        }

        &__sub { display: grid; padding-left: 7rem; margin-bottom: 2rem; position: absolute; left: -999rem;

            > a { font-size: 1.4rem; font-weight: 300; color: $site_color; display: block; }

            // Side Calendar Styling
            &--calendar { padding: 0; margin: 0; 
                
                .calendar__box { padding: 3rem 1rem; background-color: $white;  }

                .fc {

                    .fc-button,
                    .fc-button:active,
                    .fc-button:focus { background-color: $green; border: 0 ; outline: 0 ;  border-color: transparent; box-shadow: none !important; }

                    .fc-button:hover { background-color: $black; border: 0; outline: 0; }

                    .fc-toolbar { display: block; text-align: center; }

                    .fc-toolbar-chunk:nth-child(1) { margin-bottom: 1rem;

                        .fc-toolbar-title { font-size: 1.8rem; font-weight: 400; line-height: 1em; }

                    }
                    .fc-toolbar-chunk:nth-child(2) { display: none;}
                    .fc-toolbar-chunk:nth-child(3) { }


                    .fc-daygrid-day-top { justify-content: center; }
                    
                    .fc-daygrid-day-number { font-size: 1.2rem; }
                    
                    

                    .fc-daygrid-day-events { display: none; }

                    .fc-col-header-cell-cushion  { text-transform: uppercase; font-size: 1rem; padding: .8rem 0;  }

                    .fc-daygrid-day:hover { background-color: #f1f1f1; }
                    
                    a { font-size: 1.2rem; color: $black; 
                        
                        &:hover { text-decoration: none; }

                    }

                    .fc-scrollgrid { }

                    
                    // .fc-daygrid-body-unbalanced .fc-daygrid-day-events { min-height: auto; }

                    // .fc-daygrid-day.fc-day-today { background-color: $light_grey;
                        
                    //     .fc-daygrid-day-number { color: $white; }
                    // }

                    // .fc-button { padding: 0.2rem 0.5rem; border-radius: 0; background-color: $site_color; border: 0; outline: 0; }

                    .fc-toolbar-title { font-size: 1.4rem; font-weight: 400; line-height: 1em; }
                    
                }

                .fc-theme-standard td { cursor: pointer; }

      
            
            }
        }

        .switch__account__box { padding: 2rem; 
            
            .abc__select__menu { width: 30rem; }
        }


    }

    


    &__col2 { padding: 2rem 3rem; 
        
        @include breakpoint(s) { padding: 1rem; }

    }

}


// ------------------------------------------------------------------------------------------------------
// CONTENT
// ------------------------------------------------------------------------------------------------------

h1 { font-size: 2.4rem; font-weight: 400; margin-bottom: 2rem; color: $site_color; 

    @include breakpoint(s) { display: none; }

    small { font-size: 2rem; vertical-align: middle; color: $txt_grey; }

}


// ------------------------------------------------------------------------------------------------------
// PANEL LAYOUT
// ------------------------------------------------------------------------------------------------------

.panel { background-color: $white; box-shadow: 0px 3px 6px rgba(0,0,0,0.03); margin-bottom: 3rem;

    &__top,
    &__body,
    &__bottom { }

    &__top { align-items: center; border-bottom: 1px solid $border_light_grey; padding: 2rem 4rem; grid-template-columns: auto auto; display: grid; 
        
        @include breakpoint(r) { grid-template-columns: auto; padding: 2rem 3rem; }
        

    }

    &__action {  justify-self: end; 
        
        @include breakpoint(r) { justify-self: start; }

    }

    &__filter { display: flex; justify-content: flex-end; column-gap: 2rem; align-items: stretch;

        @include breakpoint(xs) { row-gap: 1rem; margin-top: 2rem; flex-direction: column; }

        .abc__select .abc__select__input,
        .abc__textfield .abc__textfield__input { width: 20rem; 
            
            @include breakpoint(xs) { width: 100%; }
        }

        .filter__search { 

            .abc__select .abc__select__input,
            .abc__textfield .abc__textfield__input { width: 40rem; 
                
                @include breakpoint(xs) { width: 100%;  }
            }

        }

    }
   
    

    &__body { padding: 4rem; 

        @include breakpoint(r) { padding: 3rem; }
        
        &--no-padding { padding: 0; }
    }


    &__bottom { padding: 2rem 4rem; border-top: 1px solid $border_light_grey; display: grid; 
        
        .btn + .btn { margin-left: 2rem; }

        @include breakpoint(xs) { padding: 2rem 3rem; }


    }
    
    &__title { font-size: 2rem; color: $site_color; display: grid;}   

}


// ------------------------------------------------------------------------------------------------------
// TABLE
// ------------------------------------------------------------------------------------------------------

.tbl { border-collapse: collapse; width: 100%;
    
    tr { }

    td, th { text-align: left; }

    th { font-weight: 600; font-size: 1.4rem; }


}

.panel__body--no-padding { 

    .tbl { 

        tr { 

            td, th { padding: 1rem;

                &:first-child { padding-left: 4rem; }
                &:last-child { padding-right: 4rem; }
            }

            th { background-color: $border_light_grey; padding: 1rem; 
                
                &.action { text-align: right; }

            }

            td { border-bottom: 1px solid $border_light_grey; 
                
                &.action { text-align: right; }

            }

            &.filter { 


            }

        }
        
    }

}


// ------------------------------------------------------------------------------------------------------
// FORMS
// ------------------------------------------------------------------------------------------------------

.form__row { display: grid; grid-template-columns: 10rem auto; margin-bottom: 1.5rem; column-gap: 4rem;

    .form__label {align-self: center; }

}


// ------------------------------------------------------------------------------------------------------
// OVERRIDE COMPONENT STYLES
// ------------------------------------------------------------------------------------------------------


.menu__dots__list__item { font-size: 1.3rem; padding: 0.8rem 2rem; }

.menu__dots__trigger { 

    @include breakpoint(s) { margin-top: 1rem; }

}




// input[type="text"] { font-family: $font_family; font-size: 1.5rem; outline: none; border-radius: 0; }

// .editable__text,
// .form__input,
// .form__select,
// .form__textarea { font-family: $font_family; font-size: 1.4rem; outline: none; border-radius: 0;  }

// .editable__text { border: 1px solid transparent; height: 3.4rem; width: 100%; padding: 0 1rem; margin-left: -1rem;

//     &:hover { border: 1px solid transparent; cursor: pointer; background-color: $bg; }

//     &:focus { border: 1px solid $form_border_color_focus; background-color: $bg; cursor: text; box-shadow: 2px 2px 4px rgba(134,193,40, 0.3); }

//     &:focus { }
    
// }

// .form__row { display: grid; grid-template-columns: 15rem auto; margin-bottom: 1.5rem; 

//     .form__label {align-self: center; }

// }

// .form__input,
// .form__select,
// .form__input { border: 1px solid $black; padding: 0 1rem; height: 3.2rem; vertical-align: top; }

// .form__textarea { border: 1px solid $black; padding: 0 1rem; }

// ------------------------------------------------------------------------------------------------------
// BUTTONS
// ------------------------------------------------------------------------------------------------------

// .btn { margin: 0 0.2rem; vertical-align: top; display: inline-block; outline: 0; border: 0; border-radius: 0; padding: 1.3rem 3rem; color: $white; cursor: pointer; text-align: center; text-decoration: none; background-color: $site_color; font-family: $font_family; font-size: 1.5rem;  font-weight: 600; box-shadow: border-box;

// 	&:active { outline: 0; }

//     &:focus { border-radius: 0; }

//     // Small
//     &--s { padding: 0rem 1rem; font-size: 1.3rem; height: 3.4rem; line-height: 3.4rem; font-weight: 600; min-width: 7rem; }

//     // Grey
//     &--grey { background-color: $bg; color: $site_color; 
        
//         &:hover { background-color: $site_color; color: $white; }
        
//     }

//     &--outline { background-color: transparent; 
        
//         &.btn--grey { border-color: $border_light_grey; border: 2px solid $border_light_grey; line-height: 3rem; }

//         &:hover { background-color: $site_color; border-color: $site_color; }

//     }
    

// }










