// ---------------------------------------------------------------------------------------
//	 FORMS if input is disabled
// ---------------------------------------------------------------------------------------

@mixin disabled_input { opacity: 0.3; cursor: default; }


@mixin position_center { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

@mixin ul_reset { margin: 0; padding: 0; list-style-type: none; 

	li { margin: 0; padding: 0; }

}

// ---------------------------------------------------------------------------------------
//	 BREAKPOINTS - DEFAULT @include breakpoints(s) { }
// XXS= Less than 401 Old phone like ipone 4
// XS = 401-600px = phone
// S =  601-900 = Tablet Portrait
// R =  901-1200 Tablet Landscape and 19" screen
// M =  1201 - 1600 tablet landscape
// L =  1601-2000 desktop
// XL = 2001px + big desktop
// ---------------------------------------------------------------------------------------


@mixin breakpoint($class) {
	
	@if $class == xl {
		
		@media (min-width: 2001px) { @content; }
	}
	
	// 24" screen
 	@if $class == l {

		@media (max-width: 2000px) { @content; }
	}

	// 20" "screen
	@if $class == m {

		@media (max-width: 1600px) { @content; }
	}
	
	// 19" screen
	@else if $class == r {
		@media (max-width: 1200px) { @content; }
	}

	// Tablet Portrait
	@else if $class == s {

		@media (max-width: 900px) { @content; }
	}

	// Phone
	@else if $class == xs {

		@media (max-width: 600px) { @content; }

	}
	
	// Old Phones (iphone)
	@else if $class == xxs {

		@media (max-width: 400px) { @content; }

	}

}



// ---------------------------------------------------------------------------------------
//	 BREAKPOINTS - CUSTOM RANGE @include breakpoint_custom(200,500) { }
// ---------------------------------------------------------------------------------------

@mixin breakpoint_custom($min_width, $max_width) {
	
	 @media only screen and (min-width: #{$min_width}px) and (max-width: #{$max_width}px)  { @content; }

}


// ---------------------------------------------------------------------------------------
//	 Min Width @include viewport_min_width;
// ---------------------------------------------------------------------------------------

@mixin viewport_min_width() { min-width: $viewport_min_width; }


// ---------------------------------------------------------------------------------------
//	 BUTTON - HOVER @include button_hover($COLOUR, $button_darken_hover_amount) { }
// ---------------------------------------------------------------------------------------

@mixin button_hover($color, $darken_amount) {
	
	background-color: darken($color, $darken_amount); text-decoration: none;

}


@mixin button_outline_hover($color, $darken_amount) {
	
	border-color: darken($color, $darken_amount); color: $color; text-decoration: none;

}


// ---------------------------------------------------------------------------------------
//	PLACEHOLDER input { @include placeholder { color: red; } } 
// ---------------------------------------------------------------------------------------

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


// ---------------------------------------------------------------------------------------
//	Arrow @include arrow(down,#fff,10px)
// ---------------------------------------------------------------------------------------



@mixin arrow($direction, $color, $size){
	display: inline-block;  
	width: 0; 
	height: 0; 
	border: #{$size} solid transparent; 
	content: "";
	
	$side: "";
	@if $direction == "down" 	{ $side: top; }
	@if $direction == "up" 		{ $side: bottom; }
	@if $direction == "left" 	{ $side: right; }
	@if $direction == "right" 	{ $side: left; }

	border-#{$side}-color: #{$color}; 
}


// ---------------------------------------------------------------------------------------
//	Transform @include disable_hightlight; Disable highlighting of text on double click on element
// ---------------------------------------------------------------------------------------

@mixin disable_highlight {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

