// ---------------------------------------------------------------------------------------
//	 FORMS if input is disabled
// ---------------------------------------------------------------------------------------

@mixin disabled_input { opacity: 0.3; cursor: default; }


@mixin position_center { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

@mixin ul_reset { margin: 0; padding: 0; list-style-type: none;

	li { margin: 0; padding: 0; }

}


// ---------------------------------------------------------------------------------------
//	 BREAKPOINTS - DEFAULT @include breakpoints(s) { }
// XXS= Less than 401 Old phone like ipone 4
// XS = 401-600px = phone
// S =  601-900 = Tablet Portrait
// R =  901-1200 Tablet Landscape and 19" screen
// M =  1201 - 1600 tablet landscape
// L =  1601-2000 desktop
// XL = 2001px + big desktop
// ---------------------------------------------------------------------------------------

@mixin breakpoint($class) {
	
	@if $class == xl {
		
		@media (min-width: 2001px) { @content; }
	}
	
	// 24" screen
 	@if $class == l {

		@media (max-width: 2000px) { @content; }
	}

	// 20" "screen
	@if $class == m {

		@media (max-width: 1600px) { @content; }
	}
	
	// 19" screen
	@else if $class == r {
		@media (max-width: 1200px) { @content; }
	}

	// Tablet Portrait
	@else if $class == s {

		@media (max-width: 900px) { @content; }
	}

	// Phone
	@else if $class == xs {

		@media (max-width: 600px) { @content; }

	}
	
	// Old Phones (iphone)
	@else if $class == xxs {

		@media (max-width: 400px) { @content; }

	}

}

// ---------------------------------------------------------------------------------------
//	 BREAKPOINTS - CUSTOM RANGE @include breakpoint_custom(200,500) { }
// ---------------------------------------------------------------------------------------

@mixin breakpoint_custom($min_width, $max_width) {
	
	 @media only screen and (min-width: #{$min_width}px) and (max-width: #{$max_width}px)  { @content; }

}


// ---------------------------------------------------------------------------------------
//	 Min Width @include viewport_min_width;
// ---------------------------------------------------------------------------------------

@mixin viewport_min_width() { min-width: $viewport_min_width; }
